<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.vividbobo.easy">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
        android:name=".EasyApplication"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:requestRawExternalStorageAccess="true"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Easy"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ui.dataImportAndExport.ImportActivity"
            android:exported="false" />

        <meta-data
            android:name="com.huawei.hms.ml.DEPENDENCY"
            android:value="ocr" />

        <service
            android:name=".accessibility.ContentReaderService"
            android:exported="true"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/view_reader_service" />
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.vividbobo.easy.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".ui.dataImportAndExport.ExportActivity"
            android:exported="false" />
        <activity
            android:name=".ui.EmptyActivity"
            android:exported="false"
            android:theme="@style/TransparentTheme" />
        <activity
            android:name=".ui.home.ScreenshotImportActivity"
            android:exported="false" />
        <activity
            android:name=".ui.calendar.CalendarActivity"
            android:exported="false" />
        <activity
            android:name=".ui.account.AccountAddActivity"
            android:exported="false" />
        <activity
            android:name=".ui.account.AddAccountActivity"
            android:exported="false" />
        <activity
            android:name=".ui.leger.LegerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.bill.BillActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>